/* =========================
   CART
========================= */

.cart-icon {
    position: fixed;

    left: 25px;

    bottom: 25px;

    width: 60px;

    height: 60px;

    border: none;

    border-radius: 50%;

    background: #062b52;

    color: white;

    font-size: 25px;

    cursor: pointer;

    z-index: 2000;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.25);
}


.cart-count {
    position: absolute;
}


/* CART WINDOW */

.cart {
    position: fixed;

    top: 0;

    left: -420px;

    width: 400px;

    max-width: 90%;

    height: 100vh;

    background: white;

    z-index: 3000;

    box-shadow:
        5px 0 25px rgba(0, 0, 0, 0.20);

    transition: 0.4s;

    overflow-y: auto;
}


.cart.active {
    left: 0;
}


/* OVERLAY */

.cart-overlay {
    position: fixed;

    inset: 0;

    background:
        rgba(0, 0, 0, 0.45);

    z-index: 2500;

    opacity: 0;

    visibility: hidden;

    transition: 0.3s;
}


.cart-overlay.active {
    opacity: 1;

    visibility: visible;
}


/* CART HEADER */

.cart-header {
    padding: 20px;

    background: #062b52;

    color: white;

    display: flex;

    justify-content: space-between;

    align-items: center;
}


.cart-header h2 {
    margin: 0;

    font-size: 22px;
}


.cart-header button {
    width: 35px;

    height: 35px;

    border: none;

    background: transparent;

    color: white;

    font-size: 30px;

    cursor: pointer;
}


/* CART ITEMS */

#cartItems {
    padding: 15px;
}


.cart-item {
    padding: 15px 0;

    border-bottom: 1px solid #ddd;

    display: flex;

    justify-content: space-between;

    gap: 15px;
}


.cart-item h3 {
    margin: 0 0 8px;

    font-size: 17px;

    color: #222;
}


.cart-item p {
    margin: 4px 0;

    color: #777;

    font-size: 13px;
}


.cart-item strong {
    display: block;

    margin-top: 8px;

    color: #062b52;
}


.cart-item button {
    height: 35px;

    padding: 0 12px;

    border: none;

    border-radius: 4px;

    background: #b42323;

    color: white;

    cursor: pointer;
}


/* TOTAL */

.cart-total {
    padding: 20px;

    border-top: 1px solid #ddd;

    display: flex;

    justify-content: space-between;

    font-size: 18px;
}


.cart-total strong {
    color: #062b52;
}


/* CHECKOUT */

.checkout-button {
    width: calc(100% - 30px);

    margin: 0 15px 20px;

    padding: 15px;

    border: none;

    border-radius: 5px;

    background: #062b52;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}


.checkout-button:hover {
    background: #0c477c;
}


/* MOBILE */

@media (max-width: 500px) {

    .cart {
        width: 90%;
    }

    .cart-icon {
        left: 15px;

        bottom: 15px;
    }

}
